.tscroll {
    position: relative;
}

.tscroll-view {
    position: relative;
    height: 200px;
    overflow: hidden;
}

.tscroll-pane {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.tscroll-bar {
    position: absolute;
    top: 0;
    right: 0;
    width: 15px;
    overflow: hidden;
}

.tscroll-track {
    height: 100%;
    background-color: #dedede;
}

.tscroll-thumb {
    position: absolute;
    top: 0;
    left: 1px;
    width: 13px;
    height: 20px;
    background-color: #f5f5f5;
    cursor: pointer;
    overflow: hidden;
}

.tscroll-thumb-end {
    height: 5px;
    background-color: #f5f5f5;
    overflow: hidden;
}

.tscroll-hide {
    display: none;
}

.tscroll-unselect {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}